/* color backgrounds */
$black: #000000;
$blue: #0000aa;
$green: #00aa00;
$cyan: #00aaaa;
$red: #aa0000;
$magenta: #aa00aa;
$brown: #aa5500;
$light-gray: #aaaaaa;
$dark-gray: #555555;
$light-blue: #5555ff;
$light-green: #55ff55;
$light-cyan: #55ffff;
$light-red: #ff5555;
$light-magenta: #ff55ff;
$yellow: #ffff55;
$white: #ffffff;

@font-face {
  font-family: "dosFont";
  src: url("../fonts/WebPlus_ToshibaTxL1_8x16.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $black;
  margin: auto;
  color: $green;
  display: flex;
  justify-content: center;
  font-family: "dosFont", normal;
}

#terminal {
  border-width: 1px;
  border-style: solid;
  border-color: $white;
  width: 100%;
  height: 90vh;
  max-width: 400px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: $black;
  border-style: solid;
  border-color: $blue;
  font-family: "dosFont", normal;
  color: $blue;
}
